*:focus {
  box-shadow: none !important;
}
.primars {
  background: #004dec;
}
.primary {
  color: #004dec;
  text-decoration: none;
}
.card {
  width: 450px !important;
  border-radius: 20px;
  padding-bottom: 2rem;
  margin-top: 7rem !important;
  /* padding: ; */
}

.sign {
  color: #555151;
  margin-top: -13px;
  margin-bottom: 20px;
}
#btn {
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 2rem !important;
}
.form-control {
  margin-top: -10px;
  padding-top: 1rem !important;
}
.form-control:focus {
  border: #004dec transparent 0.2px !important;
}
